<!-- aside -->
<aside id="aside" class="app-aside hidden-xs bg-dark">
    <div class="aside-wrap">
        <div class="navi-wrap">
            <!-- nav -->
            <nav ui-nav class="navi clearfix">
                <ul class="nav">
                    <li>
                        <a href="" class="auto">
                            <i class="glyphicon glyphicon-home"></i>
                            <span>Trang chủ</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="auto">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            <span>Danh mục</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="auto">
                            <i class="fa fa-image"></i>
                            <span>Hình ảnh</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="auto">
                            <i class="fa fa-cog"></i>
                            <span>Tùy chỉnh</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- nav -->
        </div>
    </div>
</aside>
<!-- / aside -->