@font-face {
    font-family: 'ClassiqueSaigon';
    src: url('../font/ClassiqueSaigon.eot');
    url('../font/ClassiqueSaigon.woff') format('woff'),
    url('../font/ClassiqueSaigon.ttf') format('truetype'),
    url('../font/ClassiqueSaigon.svg#ClassiqueSaigon') format('svg'),
    url('../font/ClassiqueSaigon.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iCielAltus';
    src: url('../font/iCielAltus.woff') format('woff'),
    url('../font/iCielAltus.ttf') format('truetype'),
    url('../font/iCielAltus.svg#iCielAltus') format('svg');
    font-weight: normal;
    font-style: normal;
}
h2 {
    font-size: 1.4em;
}

/*-----------------------------------------------------------------------------------*/
/* ----------------------------    Menu    ----------------------------------------- */
/*-----------------------------------------------------------------------------------*/

.font-end {
    background: #fff;
    font-family: 'iCielAltus', 'ClassiqueSaigon', "Times New Roman", Arial;
    font-size: 15px;
    color: #010101;
    line-height: 1.6em;
    padding-top: 96px;
    letter-spacing: 2px;
}
.primary {
    width: 100%;
    clear: both;
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 9000;
}
.header {
    max-width: 1280px;
    margin: 0 auto;
    padding: 25px 0 20px 0;
    height: 65px;
    position: relative;
}

.header h1 {
    margin: -6px 0 12px 20px;
    text-align: left;
    position: absolute;
    z-index: 999;
}

.toggle-navigation {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 24px;
}

.header .main-navigation {
    position: absolute;
    width: 100%;
    margin: -4px auto 0 auto;
    top: 70px;
    z-index: 800;
    background: #fff;
    text-align: center;
    left: 0;
    padding: 20px 0;
    opacity: 0;
    font-size: 14px;
    pointer-events: none;
}

.header ul {
    margin: 0;
    padding: 0 10px;
    display: block;
    width: 100%;
    clear: both;
    text-align: center;
    right: 20px;
    height: auto;
}
.header .active {
    padding-bottom: 1px;
}
.header li {
    margin: 0 10px;
    text-transform: uppercase;
    list-style: none;
    display: list-item;
    padding: 6px 0;
}

.header .main-navigation {
    position: absolute;
    width: 100%;
    margin: -4px auto 0 auto;
    top: 70px;
    z-index: 800;
    background: #fff;
    text-align: center;
    left: 0;
    padding: 20px 0;
    opacity: 0;
    font-size: 14px;
    pointer-events: none;
}
.header a {
    background: transparent;
    text-decoration: none;
    color: #010101;
}

.toggle-navigation:hover {
    cursor: pointer;
}

.visible {
    opacity: 1!important;
    -webkit-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    pointer-events: auto!important;
}

.stories-intro {
    width: 100%;
    clear: both;
    margin-bottom: 20px;
    margin-top: -30px;
}

.story-contain {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.story-contain .the-text {
    padding: 40px 30px;
}
.story-contain .large-text {
    font-size: 40px;
    line-height: 1em;
    margin-bottom: 30px;
}
.story-contain .small-text {
    font-size: 18px;
    margin-bottom: 60px;
}
.story-contain .see-their-stories {
    text-transform: uppercase;
    text-align: center;
}
.story-contain .left-side {
    width: 100%;
    background: url('../img/overlay.png');
    color: #fff;
}
@media (min-width: 640px) {
    .header h1 {
        text-align: left;
        margin-bottom: 0;
        display: block;
        position: static;
        background: none;
        width: 66.6666666666667%;
        clear: none;
    }
    .story-contain .left-side {
        width: 75%;
    }
}

@media (min-width: 1020px) {
    .toggle-navigation {
        display: none;
    }
    .header .main-navigation {
        text-align: right;
        top: 24px;
        padding: 0 20px 0 0;
        background: none;
        opacity: 1;
        pointer-events: auto;
    }
    .header .active {
        border-bottom: 1px solid #111;
    }
    .header li {
        display: inline;
        margin-right: 30px;
        margin-left: 0;
        padding: 0;
    }
}

@media (min-width: 1000px) {
    .header ul {
        width: 66.6666666666667%;
    }
    .story-contain .left-side {
        width: 50%;
    }
}

.main-footer {
    width: 100%;
    clear: both;
    border-top: 1px solid #f3f3f3;
}

.footer {
    width:100%;
    max-width:1280px;
    margin:0 auto;
    padding:20px;
    text-align:center
}
/*-----------------------------------------------------------------------------------*/
/* ----------------------------Contact Page----------------------------------------- */
/*-----------------------------------------------------------------------------------*/

.contact {
    font-size: 15px;
    color: #010101;
    line-height: 1.6em;
}
.contact .main-title {
    border-bottom: 1px solid #f3f3f3;
    padding: 30px 0;
    margin-bottom: 30px;
}
.contact h2 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

