{% block footer %}
    <div class="main-footer">
        <div class="footer">
            © 2017 <a href="https://tomaszwagner.co/">Tomasz Wagner Photo & Films</a>
        </div>
    </div>
{% endblock %}