{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <div class="container w-xxl w-auto-xs">
        <a href class="navbar-brand block m-t">Vu luu studio</a>
        <div class="m-b-lg">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {{ form_widget(form) }}
            <div>
                <input class="btn btn-lg btn-info btn-block" type="submit" value="{{ 'change_password.submit'|trans }}" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock fos_user_content %}
