{% extends 'ORNAppBundle::layout.html.twig' %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4 the-content">
                <p><img class="img-responsive" src="https://tomaszwagner.co/wp-content/uploads/tomaszwagner.jpg"
                        alt="Tomasz Wagner Wedding Photographer" style="PADDING-RIGHT: 1px"></p>
                <div class="main-title text-center">
                    <h2>Tomasz Wagner</h2>
                    <p>&mdash;</p>
                    <h4 class="subtitle">Photographer & Creative Director</h4>
                </div>
                <p>I’m a wedding photographer and creative director based in Vancouver, British Columbia though home is
                    wherever I make it and some of my most joyful memories have been created while traveling the world
                    with my better half, Amy</p>
                <p>Our recent travels took us to:<br/>
                    <a href="/">Scotland, Ireland, and France</a> / <a href="/">Japan</a> / <a
                            href="https://tomaszwagner.co/morocco-adventure/">Morocco</a></p>
                <p>I was born in Poland and remember the way the cool air felt against my face even in summer. At age
                    six my parents and I made our way to Athens, Greece where we stayed by the sea on a rooftop with a
                    panoramic view. It was my first time experiencing extreme heat and outdoor pools and running around
                    a neighbourhood in my ultra cool teal short pants. We arrived in Canada the following year and since
                    then I haven’t stopped wanting to explore every country, climb every mountain, and make friends with
                    every cat I meet</p>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="main-title text-center">
                    <h2>Photography</h2>
                    &mdash;
                </div>
                <div class="the-content">
                    <p>Blending documentary and fine art approaches, I capture the in-between, organic, and emotional
                        moments that tell the story of your wedding. As an avid traveler, I've learned to observe
                        relationships between people and their environments everywhere I've been. Surprises, movement,
                        and the things that make us human</p>
                    <p>I strive for nontraditional and unexpectedly beautiful images that play with light and
                        interesting compositions. If I pose you, there's always a good reason for it. But what's most
                        important to me is the connection between you both. The small moments and interactions that
                        often go unnoticed, the ones that say a lot about who you are as a couple and as individuals</p>
                    <p>People who work with me trust my vision and feel something when they look at my images. They're
                        also keen on working with someone who's a thoughtful observer. I'm a companion they can be open
                        with before the wedding happens, as it unfolds, and long after the dancing winds down for the
                        night. Before all of this happens, however, I want to know about you and your stories</p>
                    <p>This is how I convey a creative and honest portrait of who you are. Images that are artful,
                        intentional, and playful. A story that will mean a great deal to you long after your wedding
                        day</p>
                    <p><BR></p>
                    <div class="main-title text-center">
                        <h2>Cinematography</h2>
                        <p>&mdash;</p></div>
                    <p>I'm fortunate to work with a talented group of artists who make up the cinema team. If I'm not
                        already booked to photograph a wedding, I will be your cinematographer. Otherwise, you'll be
                        working with one of my trusted team members. Editing is done by Alexander Farah, who I've been
                        collaborating with for 4+ years</p>
                    <p>We're constantly exploring the boundaries of our craft and what it means to capture a mood, to
                        create artistic compositions, and to incorporate stylistic storytelling. We love energy,
                        connection, movement, and your brilliant dance moves. We aim to surprise and delight you with a
                        short film that you'll watch on repeat and hope you'll invite us to join you for the ride</p>
                    <p><a href="/" title="Super 8mm Wedding Films">Watch
                            our Highlight Films</a></p>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="main-title text-center">
                    <h2>Press / Features</h2>
                    &mdash;
                </div>
                <div class="third-column the-content">
                    <div style="width:200px"><img class="img-responsive"
                                                  src="https://tomaszwagner.co/wp-content/uploads/2016/01/rangefinder-rising-star-wedding-photography.png"
                                                  alt="tomasz wagner rangefinder magazine 30 rising stars of wedding photography"/>
                    </div>
                    Rangefinder Magazine, 2015
                    <BR><i>Rising Star of Wedding Photography</i>
                    <BR>Weddingbells, 2015
                    <BR><i>Most Inspiring Canadian Wedding Photographer</i>
                    <BR>Canada Photo Convention, 2014
                    <BR><i>Top 30 Under 30 Canadian Wedding Photographer</i>
                    <BR>
                    <BR><a href="/">More Press</a></div>
            </div>
        </div>
    </div>
{% endblock %}

