{% extends 'ORNAppBundle::layout.html.twig' %}
{% block main %}
    <div class="contact"
        <div class="right-column">
            <div class="main-title">
                <h2>Stay Connected</h2>
                &mdash;
                <h3 class="subtitle"></h3>
            </div>
            <div class="form-intro">
                <p><center><font size="4"><i>It all starts with a hello<br/>
                Tell me your story and we'll figure out how best to collaborate<br/>
                No matter where in the world your wedding is happening,<br/>
                I'd love to hear about it and the adventure you have planned</i></font></center></p>
            </div>
            <div role="form" class="wpcf7" id="wpcf7-f30278-p30265-o1" lang="en-US" dir="ltr">
                <div class="screen-reader-response"></div>
                <form action="" method="post" class="contact-form" novalidate="novalidate">
                    <div class="row">
                    <div class="half left-input">
                        <label>
                            <span class=" your-name">
                                <input type="text" name="your-name" value size="24" maxlength="35" class="" aria-required="true" aria-invalid="false" placeholder="Your Name *"/>
                            </span>
                        </label>
                    </div>
                    </div>
                    <div class="row">
                        <div class="half left-input"><label><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value size="24" maxlength="35" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email Address *"/></span></label></div>
                    <div class="half right-input"><label><span class="wpcf7-form-control-wrap your-phone"><input type="text" name="your-phone" value size="25" maxlength="35" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Phone Number *"/></span></label></div>
                    </div>
                    </div>
                    <p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit"/></p>
                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}