{% extends 'ORNAppBundle::layout.html.twig' %}
{% block main %}
    <div class="contact container">
    <div class="row">
            <div class="right-column col-sm-8">
                <div class="main-title text-center">
                    <h2>Let's Start Here</h2>
                    &mdash;
                    <h3 class="subtitle"></h3>
                </div>
                <div class="form-intro">
                    <p class="text-center" style="font-size: 1.13em;"><i>It all starts with a hello<br/>
                    Tell me your story and we'll figure out how best to collaborate<br/>
                    No matter where in the world your wedding is happening,<br/>
                    I'd love to hear about it and the adventure you have planned</i></p>
                </div>
                <div class="contact-box text-center">
                    <h1>{{ user.email }}</h1>
                    <h1>{{ user.phone }}</h1>
                    <h1>{{ user.address }}</h1>
                </div>
            </div>
            <div class="right-column col-sm-4">
                <div class="main-title text-center">
                    <h2>Stay Connected</h2>
                    &mdash;
                    <h3 class="subtitle"></h3>
                </div>
                <div class="the-content">
                    <p>Vancouver, British Columbia</p>
                    <p>hello at tomaszwagner dot co<br/>
                        Please use the contact form for all wedding inquiries</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}