{% extends 'ORNAppBundle::layout.html.twig' %}
{% block main %}
    <style>
        .stories-intro {
            background: url( {{ asset('bundles/orncp/img/vancouver-wedding-photographer.jpg') }});
            background-size: cover;
            background-position: center center;
        }
    </style>
    <div class="stories-intro">
        {#<div class="story-contain">#}
        {#<div class="left-side">#}
        {#<div class="the-text">#}
        {#<div class="large-text">Wedding Photographer Tomasz Wagner. Super 8 Films. Vancouver, British#}
        {#Columbia<br>–#}
        {#</div>#}
        {#<div class="small-text">The in-between and organic moments between people, creative and honest#}
        {#portraiture, beautiful light and unexpected compositions, thoughtful images and films that#}
        {#capture the mood of a wedding day. Based in Vancouver, British Columbia and traveling worldwide#}
        {#</div>#}
        {#<div class="see-their-stories">Stories<br><img src="{{ asset('bundles/orncp/img/down-arrow.png') }}"#}
        {#draggable="false"></div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="tile-wrap">
                    <div class="tile">
                        <img src="https://tomaszwagner.co/wp-content/uploads/2017/02/27-bon-accord-vancouver-wedding-small.jpg" alt="Stories">
                    </div>
                    <div class="cover">
                        <div class="cover-text">
                            <div class="post-icon urban-white"></div>
                            <h2>Bon Accord Vancouver Wedding</h2>
                            <div class="hide-wrap">
                                <h3 class="subtitle">Emma &amp; Cory</h3>
                                —
                                <div class="cover-categories">Weddings</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tile-wrap">
                    <div class="tile">
                        <img src="https://tomaszwagner.co/wp-content/uploads/2017/02/27-bon-accord-vancouver-wedding-small.jpg" alt="Stories">
                    </div>
                    <div class="cover">
                        <div class="cover-text">
                            <div class="post-icon urban-white"></div>
                            <h2>Bon Accord Vancouver Wedding</h2>
                            <div class="hide-wrap">
                                <h3 class="subtitle">Emma &amp; Cory</h3>
                                —
                                <div class="cover-categories">Weddings</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tile-wrap">
                    <div class="tile">
                        <img src="https://tomaszwagner.co/wp-content/uploads/2017/02/27-bon-accord-vancouver-wedding-small.jpg" alt="Stories">
                    </div>
                    <div class="cover">
                        <div class="cover-text">
                            <div class="post-icon urban-white"></div>
                            <h2>Bon Accord Vancouver Wedding</h2>
                            <div class="hide-wrap">
                                <h3 class="subtitle">Emma &amp; Cory</h3>
                                —
                                <div class="cover-categories">Weddings</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tile-wrap">
                    <div class="tile">
                        <img src="https://tomaszwagner.co/wp-content/uploads/2017/02/27-bon-accord-vancouver-wedding-small.jpg" alt="Stories">
                    </div>
                    <div class="cover">
                        <div class="cover-text">
                            <div class="post-icon urban-white"></div>
                            <h2>Bon Accord Vancouver Wedding</h2>
                            <div class="hide-wrap">
                                <h3 class="subtitle">Emma &amp; Cory</h3>
                                —
                                <div class="cover-categories">Weddings</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tile-wrap">
                    <div class="tile">
                        <img src="https://quiznhe.com/wp-content/uploads/2017/08/150286789683328-anh-11-1.jpg" alt="Stories">
                    </div>
                    <div class="cover">
                        <div class="cover-text">
                            <div class="post-icon urban-white"></div>
                            <h2>Bon Accord Vancouver Wedding</h2>
                            <div class="hide-wrap">
                                <h3 class="subtitle">Emma &amp; Cory</h3>
                                —
                                <div class="cover-categories">Weddings</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tile-wrap">
                    <div class="tile">
                        <img src="https://tomaszwagner.co/wp-content/uploads/2017/02/27-bon-accord-vancouver-wedding-small.jpg" alt="Stories">
                    </div>
                    <div class="cover">
                        <div class="cover-text">
                            <div class="post-icon urban-white"></div>
                            <h2>Bon Accord Vancouver Wedding</h2>
                            <div class="hide-wrap">
                                <h3 class="subtitle">Emma &amp; Cory</h3>
                                —
                                <div class="cover-categories">Weddings</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tile-wrap">
                    <div class="tile">
                        <img src="https://tomaszwagner.co/wp-content/uploads/2017/02/27-bon-accord-vancouver-wedding-small.jpg" alt="Stories">
                    </div>
                    <div class="cover">
                        <div class="cover-text">
                            <div class="post-icon urban-white"></div>
                            <h2>Bon Accord Vancouver Wedding</h2>
                            <div class="hide-wrap">
                                <h3 class="subtitle">Emma &amp; Cory</h3>
                                —
                                <div class="cover-categories">Weddings</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tile-wrap">
                    <div class="tile">
                        <img src="https://tomaszwagner.co/wp-content/uploads/2017/02/27-bon-accord-vancouver-wedding-small.jpg" alt="Stories">
                    </div>
                    <div class="cover">
                        <div class="cover-text">
                            <div class="post-icon urban-white"></div>
                            <h2>Bon Accord Vancouver Wedding</h2>
                            <div class="hide-wrap">
                                <h3 class="subtitle">Emma &amp; Cory</h3>
                                —
                                <div class="cover-categories">Weddings</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tile-wrap">
                    <div class="tile">
                        <img src="https://tomaszwagner.co/wp-content/uploads/2017/02/27-bon-accord-vancouver-wedding-small.jpg" alt="Stories">
                    </div>
                    <div class="cover">
                        <div class="cover-text">
                            <div class="post-icon urban-white"></div>
                            <h2>Bon Accord Vancouver Wedding</h2>
                            <div class="hide-wrap">
                                <h3 class="subtitle">Emma &amp; Cory</h3>
                                —
                                <div class="cover-categories">Weddings</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tile-wrap">
                    <div class="tile">
                        <img src="https://tomaszwagner.co/wp-content/uploads/2017/02/27-bon-accord-vancouver-wedding-small.jpg" alt="Stories">
                    </div>
                    <div class="cover">
                        <div class="cover-text">
                            <div class="post-icon urban-white"></div>
                            <h2>Bon Accord Vancouver Wedding</h2>
                            <div class="hide-wrap">
                                <h3 class="subtitle">Emma &amp; Cory</h3>
                                —
                                <div class="cover-categories">Weddings</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tile-wrap">
                    <div class="tile">
                        <img src="https://tomaszwagner.co/wp-content/uploads/2017/02/27-bon-accord-vancouver-wedding-small.jpg" alt="Stories">
                    </div>
                    <div class="cover">
                        <div class="cover-text">
                            <div class="post-icon urban-white"></div>
                            <h2>Bon Accord Vancouver Wedding</h2>
                            <div class="hide-wrap">
                                <h3 class="subtitle">Emma &amp; Cory</h3>
                                —
                                <div class="cover-categories">Weddings</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

