{% extends 'ORNAppBundle::layout.html.twig' %}
{% block main %}
    <style>
        .stories-intro {
            background: url('https://tomaszwagner.co/wp-content/uploads/vancouver-wedding-photographer.jpg');
            background-size: cover;
            background-position: right top;
        }
    </style>
    <div class="stories-intro">
        <div class="story-contain">
            <div class="left-side">
                <div class="the-text">
                    <div class="large-text">Wedding Photographer Tomasz Wagner. Super 8 Films. Vancouver, British
                        Columbia<br>–
                    </div>
                    <div class="small-text">The in-between and organic moments between people, creative and honest
                        portraiture, beautiful light and unexpected compositions, thoughtful images and films that
                        capture the mood of a wedding day. Based in Vancouver, British Columbia and traveling worldwide
                    </div>
                    <div class="see-their-stories">Stories<br><img src="{{ asset('bundles/orncp/img/down-arrow.png') }}"
                                                                   draggable="false"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container storier-container">
        <div class="row">
            <div class="col-sm-4 story">
                <div class="tile"><a href="https://tomaszwagner.co/bon-accord-wedding-vancouver/">
                        <img src="https://tomaszwagner.co/wp-content/uploads/2017/02/27-bon-accord-vancouver-wedding-small.jpg"
                             alt="Stories">
                    </a>
                    <div class="cover"><a href="https://tomaszwagner.co/bon-accord-wedding-vancouver/">
                        </a>
                        <div class="cover-text"><a href="https://tomaszwagner.co/bon-accord-wedding-vancouver/">
                                <div class="post-icon urban-white"></div>
                            </a>
                            <h2><a href="https://tomaszwagner.co/bon-accord-wedding-vancouver/"></a><a
                                        href="https://tomaszwagner.co/bon-accord-wedding-vancouver/">Bon Accord
                                    Vancouver Wedding</a></h2>
                            <div class="hide-wrap">
                                <h3 class="subtitle">Emma &amp; Cory</h3>
                                —
                                <div class="cover-categories"><a href="https://tomaszwagner.co/weddings/" rel="tag">Weddings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 story">
                <div class="tile"><a href="https://tomaszwagner.co/bon-accord-wedding-vancouver/">
                        <img src="https://tomaszwagner.co/wp-content/uploads/2017/02/27-bon-accord-vancouver-wedding-small.jpg"
                             alt="Stories">
                    </a>
                    <div class="cover"><a href="https://tomaszwagner.co/bon-accord-wedding-vancouver/">
                        </a>
                        <div class="cover-text"><a href="https://tomaszwagner.co/bon-accord-wedding-vancouver/">
                                <div class="post-icon urban-white"></div>
                            </a>
                            <h2><a href="https://tomaszwagner.co/bon-accord-wedding-vancouver/"></a><a
                                        href="https://tomaszwagner.co/bon-accord-wedding-vancouver/">Bon Accord
                                    Vancouver Wedding</a></h2>
                            <div class="hide-wrap">
                                <h3 class="subtitle">Emma &amp; Cory</h3>
                                —
                                <div class="cover-categories"><a href="https://tomaszwagner.co/weddings/" rel="tag">Weddings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 story">
                <div class="tile"><a href="https://tomaszwagner.co/bon-accord-wedding-vancouver/">
                        <img src="https://tomaszwagner.co/wp-content/uploads/2017/02/27-bon-accord-vancouver-wedding-small.jpg"
                             alt="Stories">
                    </a>
                    <div class="cover"><a href="https://tomaszwagner.co/bon-accord-wedding-vancouver/">
                        </a>
                        <div class="cover-text"><a href="https://tomaszwagner.co/bon-accord-wedding-vancouver/">
                                <div class="post-icon urban-white"></div>
                            </a>
                            <h2><a href="https://tomaszwagner.co/bon-accord-wedding-vancouver/"></a><a
                                        href="https://tomaszwagner.co/bon-accord-wedding-vancouver/">Bon Accord
                                    Vancouver Wedding</a></h2>
                            <div class="hide-wrap">
                                <h3 class="subtitle">Emma &amp; Cory</h3>
                                —
                                <div class="cover-categories"><a href="https://tomaszwagner.co/weddings/" rel="tag">Weddings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 story">
                <div class="tile"><a href="https://tomaszwagner.co/bon-accord-wedding-vancouver/">
                        <img src="https://tomaszwagner.co/wp-content/uploads/2017/02/27-bon-accord-vancouver-wedding-small.jpg"
                             alt="Stories">
                    </a>
                    <div class="cover"><a href="https://tomaszwagner.co/bon-accord-wedding-vancouver/">
                        </a>
                        <div class="cover-text"><a href="https://tomaszwagner.co/bon-accord-wedding-vancouver/">
                                <div class="post-icon urban-white"></div>
                            </a>
                            <h2><a href="https://tomaszwagner.co/bon-accord-wedding-vancouver/"></a><a
                                        href="https://tomaszwagner.co/bon-accord-wedding-vancouver/">Bon Accord
                                    Vancouver Wedding</a></h2>
                            <div class="hide-wrap">
                                <h3 class="subtitle">Emma &amp; Cory</h3>
                                —
                                <div class="cover-categories"><a href="https://tomaszwagner.co/weddings/" rel="tag">Weddings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

