{% extends 'ORNAppBundle::layout.html.twig' %}
{% block main %}
    <style>
        .stories-intro {
            background: url( {{ asset('bundles/orncp/img/vancouver-wedding-photographer.jpg') }});
            background-size: cover;
            background-position: right top;
        }
    </style>
    <div class="stories-intro">
        <div class="story-contain">
            <div class="left-side">
                <div class="the-text">
                    <div class="large-text">Wedding Photographer Tomasz Wagner. Super 8 Films. Vancouver, British
                        Columbia<br>–
                    </div>
                    <div class="small-text">The in-between and organic moments between people, creative and honest
                        portraiture, beautiful light and unexpected compositions, thoughtful images and films that
                        capture the mood of a wedding day. Based in Vancouver, British Columbia and traveling worldwide
                    </div>
                    <div class="see-their-stories">Stories<br><img src="{{ asset('bundles/orncp/img/down-arrow.png') }}"
                                                                   draggable="false"></div>
                </div>
            </div>
        </div>
    </div>

    </div>
{% endblock %}

